<template>
  <div class="tabs">
    <ul v-for="item in items" :key="item">
      <li :class="{active: item === selected}" @click="sendTab(item)">
        {{item}} ({{showNumber(item)}})
      </li>
    </ul>
  </div>
</template>

<script>
import { toRefs } from 'vue';

export default {
  name: "Tabs",
  emits: ["send-tab"],
  props: {
    todos: Array,
    items: Array,
    selected: String
  },

  setup(props, {emit}) {
    const {todos} = toRefs(props);

    const sendTab = (data) => {
      emit("send-tab", data);
    }

    const showNumber = (data) => {
      if (data === "All") {
        return todos.value.length.toString();
      } else if (data === "Current") {
        return todos.value.filter(todo => todo.completed === false).length.toString();
      } else {
        return todos.value.filter(todo => todo.completed === true).length.toString();
      }
    }

    return {
      sendTab,
      showNumber
    }
  }
}
</script>

<style scoped>

.tabs {
  margin-top: 20px;
}

ul {
  display: inline-flex;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
}

li {
  letter-spacing: 2px;
  margin: 0 30px 0 0;
  color: #737373;
  font-size: 13px;
  cursor: pointer; 
}

.active {
  color: #759BE4;
  font-weight: 600;
  border-bottom: 2px solid #759BE4;
  padding-bottom: 8px;
}
</style>