<template>
  <div class="todo-container">
    <div class="_blank" v-if="filterCompleteTodos.length === 0">
      <p>No Competed todo</p>
    </div>
    <div class="todo-details" v-for="todo in filterCompleteTodos" v-show="filterCompleteTodos.length > 0" :key="todo.id">
      <div v-if="todoEdit !== null && todoEdit.id === todo.id">
        <input class="newEditTodo" type="text" v-model="todoEdit.name" name="todo" @keypress.enter="save">
        <button class="btn btn-save" @click="save">Save</button>
      </div>
      <div v-else class="left">
        <input class="checkbox" v-model="todo.completed" type="checkbox" name="checkbox">
        <p class="todo-name">{{todo.name}}</p>
      </div>
      <div class="right">
        <img @click="handleTodoEdit(todo)" class="icon editIcon" src="../assets/edit.svg" alt="edit">
        <img @click="deleteTodo(todo.id)" class="icon deleteIcon" src="../assets/delete.svg" alt="delete">
      </div>
    </div>
  </div>
</template>

<script>
import {computed, ref} from "vue";

export default {
  name: "CompleteList",
  props: {
    todos: {
      type: Array,
      required: true,
    }
  },
  setup(props, {emit}) {
    const filterCompleteTodos = computed(() => {
      return props.todos.filter(todo => todo.completed === true);
    });

    let todoEdit = ref(null);

    const handleTodoEdit = (todo) => {
      todoEdit.value = todo;
    }

    const save = () => {
      todoEdit.value = null;
    }

    const deleteTodo = (data) => {
      emit("deleteTodo", data);
    }

    return {
      todoEdit,
      filterCompleteTodos,
      handleTodoEdit,
      save,
      deleteTodo
    }
  }
}
</script>

<style scoped>
@import '../assets/global.css';
</style>