<template>
  <form @submit.prevent="submit">
    <div class="form-container">
      <input class="form-todo" type="text" name="todo" v-model.trim="todo" @change="change" placeholder="Type a new todo item">
      <button class="btn-publish">+Add</button>
    </div>
  </form>
  <p class="error" v-if="error !== null"><img src="../assets/addition-thick-symbol.svg" alt="">{{ error }}</p>

</template>

<script>
import {ref} from "vue";

export default {
  name: "Form",
  emits: ["add_todo"],

  setup(props, {emit}) {

    let todo = ref("");
    let error = ref(null);

    const change = (e) => {
      if (e.target.value) {
        error.value = null;
      }
      if (e.target.value.length > 5) {
        error.value = null;
      }
    }

    const submit = () => {
      if (todo.value === "") {
        return error.value = "This field is required";
      } else if (todo.value.length < 5) {
        return error.value = "This field must be at least 5 characters";
      }
      let newTodo = {
        id: Date.now(),
        name: todo.value,
        completed: false
      }
      emit("add_todo", newTodo);
      todo.value = "";
    }

    return {
      todo,
      error,
      submit,
      change
    }
  }
}
</script>

<style scoped>

.form-container {
  display: flex;
  align-items: center;
}

.error {
  display: flex;
  align-items: center;
  color: #666665;
  font-size: 13px;
}

img {
  width: 18px;
  margin-right: 8px;
}

.form-todo {
  width: 400px;
  height: 55px;
  padding: 0 20px;
  border-radius: 5px 0 0 5px;
  font-family: lato, sans-serif;
  border: 1px solid #f5f5f5;
  box-shadow: 0 2px 8px #b3b2b2;
}

.form-todo::placeholder {
  letter-spacing: 1px;
  color: #bababa;
  font-size: 13px;
  margin-left: 20px;
}

.btn-publish {
  box-shadow: 0 2px 8px #759BE4;
  font-family: lato, sans-serif;
  background-color: #759BE4;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 125px;
  height: 55px;
}
</style>