<template>
  <div class="todo-container">
    <div class="_blank" v-if="todos.length === 0">
      <p>No Todo</p>
    </div>
    <div class="todo-details" v-for="todo in todos" v-show="todos.length > 0" :key="todo.id">
      <div class="todoEdit" v-if="todoEdit !== null && todoEdit.id === todo.id">
        <input class="newEditTodo" type="text" v-model="todoEdit.name" name="todo" @keypress.enter="save">
        <button class="btn btn-save" @click="save">Save</button>
        <span class="content-error" v-show="errorTodoEdit">
          <img src="../assets/addition-thick-symbol.svg" alt="">
          <span class="text-error">{{errorTodoEdit}}</span>
        </span>
      </div>
      <div v-else class="left">
        <input class="checkbox" v-model="todo.completed" type="checkbox" name="checkbox">
        <p class="todo-name">{{todo.name}}</p>
      </div>
      <div class="right">
        <img @click="handleTodoEdit(todo)" class="icon editIcon" src="../assets/edit.svg" alt="edit">
        <img @click="deleteTodo(todo.id)" class="icon deleteIcon" src="../assets/delete.svg" alt="delete">
      </div>
    </div>
  </div>
</template>

<script>
import {ref} from 'vue';

export default {

  name: "List",
  emits: ["deleteTodo"],
  components: {
  },
  props: {
    todos: {
      type: Array,
      required: true
    },
  },

  setup(props, {emit}) {
    let todoEdit = ref(null);
    let errorTodoEdit = ref(null);

    const handleTodoEdit = (todo) => {
      todoEdit.value = todo;
    }

    const save = () => {
      if (todoEdit.value.name === "") {
        return errorTodoEdit.value = "This field is required";
      }
      if (todoEdit.value.name.length < 5) {
        return errorTodoEdit.value = "This field must be at least 5 characters";
      }
      errorTodoEdit.value = null;
      todoEdit.value = null;
    }

    const deleteTodo = (data) => {
      emit("deleteTodo", data);
    }

    return {
      deleteTodo,
      errorTodoEdit,
      todoEdit,
      save,
      handleTodoEdit
    }
  }
}
</script>

<style scoped>
@import '../assets/global.css';

/*img {
  width: 14px;
  margin-left: 2px;
}*/

.content-error {
  display: flex;
  align-items: center;
}

.text-error {
  font-size: 10px;
  color: red;
  margin-left: 3px;
}

.todoEdit {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>