.todo-container {
    font-size: 15px;
    margin-top: 10px;
}

._blank {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b6b6b;
    font-size:14px;
}

.newEditTodo {
    height: 30px;
    padding: 0 12px;
    font-size: 13px;
    color: #666661;
    border-radius: 5px 0 0 5px;
    border: 1px solid #f5f5f5;
    box-shadow: 0 1px 4px #b3b2b2;
}

.checkbox[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #d4d4d4 1px;
    border-radius: 100px;
}

.checkbox[type="checkbox"]:hover {
    background-color: #e0e0e0;
}

.checkbox[type="checkbox"]:after {
    content: url("check-mark.svg");
    display: none;
    border: none;
}

.checkbox[type="checkbox"]:checked {
    border: none;
    background-color: #28b100;
}

.checkbox[type="checkbox"]:checked:after {
    background-color: #28b100;
    display: block;
}

.btn-save {
    box-shadow: 0 1px 4px #759BE4;
    background: #759BE4;
    border-radius: 0 5px 5px 0;
    padding: 0;
    width: 50px;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    color: white;
}

.icon {
    width: 16px;
    cursor: pointer;
}

.icon:last-child {
    margin-left: 10px;
}

.todo-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid #c7c7c7;
    height: 55px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #b3b2b2;
}

.content-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
}

.right {
    display: flex;
    font-size: 12px;
    margin-left: auto;
}

.todo-name {
    font-weight: 600;
    margin-left: 10px;
    font-size: 14px;
    color: #666663;
}

.input {
    border-radius: 50%;
    width: 20px;
}