<template>
  <div class="main">
    <div class="container">
      <h1 class="title-app">Vue 3 Your Todo</h1>
      <p class="small-text">A Todo App powered by the vue js 3</p>
      <Form @add_todo="add_todo"/>
      <Tabs :todos="todos" :items="items" :selected="selected" @send-tab="sendTab"/>
      <div v-if="selected === 'All'">
        <List @deleteTodo="deleteTodo" :todos="todos"/>
      </div>
      <div v-else-if="selected === 'Current'">
        <CurrentList @deleteTodo="deleteTodo" :todos="todos"/>
      </div>
      <div v-else-if="selected === 'Complete'">
        <CompleteList @deleteTodo="deleteTodo" :todos="todos"/>
      </div>
    </div>
  </div>
</template>

<script>
import Form from "./components/Form.vue";
import {ref} from 'vue';

import List from "./components/List";
import Tabs from "./components/shared/Tabs";
import CompleteList from "./components/CompleteList";
import CurrentList from "./components/CurrentList";

export default {
  name: 'App',
  components: {
    Form,
    List,
    Tabs,
    CompleteList,
    CurrentList,
  },

  setup() {
    let todos = ref([]);

    // Tabs
    const items = ["All", "Current", "Complete"];
    let selected = ref("All");

    const sendTab = (data) => {
      selected.value = data;
    }

    const add_todo = (data) => {
      todos.value = [...todos.value, data];
      selected.value = "All";
    }

    const deleteTodo = (data) => {
      todos.value = todos.value.filter(todo => todo.id !== data);
    }

    return {
      todos,
      items,
      selected,
      add_todo,
      sendTab,
      deleteTodo,
    }
  }
}
</script>

<style>
#app {
  font-family: lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

.title-app {
  font-size: 45px;
  font-weight: bold;
  font-family: "Frank Ruhl Libre", serif;
  color: #333333;
  margin: 0
}

.small-text {
  font-size: 13px;
  font-family: "lato", sans-serif;
  color: #6b6b6b;
  margin: 5px 0 30px 0;
}
</style>
